body {
    font-family: Helvetica, Geneva, Arial, sans-serif;
    font-size: small;
    font-color: #000;
    background-color: #fff;
}

a:link, a:active, a:visited {
    color: #0099cc
}

input { 
  margin-bottom: 5px;
}

p { 
     line-height: 150%;
}

table#items {
  padding: 5px;
  border: 1px solid #ccc;
  margin-bottom: 20px;
  width: 100%;
}

table#items tr:nth-child(even) {
  background: #ececec;
}

div#print_page {
  /*
  margin-top: 20px;
  margin-left: 20px;
  margin-right: 20px;
  */
  margin: 20px;
  border: 1px solid #ccc;
  padding: 40px;
}

a.button {
  padding:5px;
  background-color: #dcdcdc;
  border: 1px solid #666;
  color: #000;
  text-decoration:none;
  border-radius: 5px;
}

a.button-warn {
  padding:5px;
  background-color: #cc3300;
  border: 1px solid #666;
  color: #000;
  text-decoration:none;
  border-radius: 5px;
}

#user_header {
  text-align: right;
  padding-bottom: 10px;
}

#flash_notice, #flash_error, #flash_alert {
  padding: 5px 8px;
  margin: 10px 0;
  width: 400px;
}

#flash_notice {
  background-color: #CFC;
  border: solid 1px #6C6;
}

#flash_error, #flash_alert {
  background-color: #FCC;
  border: solid 1px #C66;
}
#header_zapis {
  font-family: "Trebuchet MS", Helvetica, sans-serif;
  font-size: large;
  text-align: center;
}
#header_table {
  font-family: "Trebuchet MS", Helvetica, sans-serif;
  font-size: medium;
  text-align: center;
}
#subheader_zapis {
  font-style: italic;
  font-size: x-small;
  text-align: center;
}
#table_zapis {
  padding: 10px;
  border: 1px solid #ccc;
  margin-top: 20px;
  margin-bottom: 20px;
  width: 100%;
}
#table_zapis tr:hover {
  background-color: #f5f5f5;
}
.thirty {
  width: 30%;
}
.seventy {
  width: 70%;
}
.text-input {
  width: 100%;
}
